#todoForm .my-3 {
  flex: 1;
  gap: 10px;
}

button.close {
  position: absolute;
  right: 10px;
  border: 0;
  background: none;
}

span.todo-text {
  position: absolute;
  right: 141px;
  /* border: 1px solid #ddd; */
  background: #d4edda;
}
